<form [formGroup]="addWordForm" (ngSubmit)="onSubmit()">
  <label for="title">Word Title:</label>
  <input id="title" formControlName="title" required>

  <label for="translation">Translation in Arabic:</label>
  <input id="translation" formControlName="translation" required>

  <label for="synonyms">Synonyms:</label>
  <input id="synonyms" formControlName="synonyms">

  <label for="description">Description of the Word in English:</label>
  <textarea id="description" formControlName="description"></textarea>

  <label for="examples">Examples of the Word in Statements:</label>
  <textarea id="examples" formControlName="examples"></textarea>

  <label for="flag">Flag:</label>
  <select id="flag" formControlName="flag">
    <option *ngFor="let option of flagOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <button type="submit">Add Word</button>
  <button (click)="navigateHome()" type="button" class="btn-home">Home</button>
</form>
