<div class="container">
  <h2>Translate a Word</h2>
  <form [formGroup]="translateForm" (ngSubmit)="onTranslate()">
    <label for="word">English Word:</label>
    <input id="word" formControlName="word" type="text" placeholder="Enter an English word" />
    
    <div class="button-group">
      <button type="submit">Translate</button>
      <button routerLink="/">Home</button>
      <button type="button" (click)="playVoice()" [disabled]="!translateForm.get('word')?.value">Play Voice</button>
    </div>
  </form>

  <div *ngIf="translatedWord" class="result">
    <h3>Result</h3>
    <!-- <p>{{ translatedWord }}</p> -->

    <h4 *ngIf="englishMeaning">Arabic Meaning:</h4>
    <p *ngIf="englishMeaning">{{ translatedWord }}</p>
    
    <h4 *ngIf="englishMeaning">English Meaning:</h4>
    <p *ngIf="englishMeaning">{{ englishMeaning }}</p>
    
    <h4 *ngIf="synonyms.length || synonymsMessage">Synonyms:</h4>
    <p *ngIf="!synonyms.length && synonymsMessage">{{ synonymsMessage }}</p>
    <ul *ngIf="synonyms.length">
      <li *ngFor="let synonym of synonyms">{{ synonym }}</li>
    </ul>

    <h4 *ngIf="example">Example:</h4>
    <p *ngIf="example">{{ example }}</p>

    <h4 *ngIf="flag !== FlagEnum.None">Flag:</h4>
    <p *ngIf="flag === FlagEnum.Green">Green Flag</p>
    <p *ngIf="flag === FlagEnum.Orange">Orange Flag</p>
    <p *ngIf="flag === FlagEnum.Purple">Purple Flag</p>
    <p *ngIf="flag === FlagEnum.Red">Red Flag</p>
    <p *ngIf="flag === FlagEnum.None">No Flag</p>
  </div>
</div>
